<div id="app">

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col">

          <h2 class="h2 my-5 app-title text-center">INVOICES MANAGER</h2>
          <hr/>

          <!-- Routed views go here -->
          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>

  <footer class="footer p-5">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <p>
            Copyright @
            <strong>Scopic Software</strong> 2018
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>