<div class="add-invoice mb-5">

  <div class="card border-dashed-1">
    <div class="card-header bg-white">
      <label class="m-0">New Invoice</label>
    </div>
    <div class="card-body">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Invoice Name" />
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>